# Application Folders

.DS_Store
Applications
Books
Prototypes
Creative Cloud Files
Desktop
Documents
Downloads
Google Drive
Library
Movies
Music
Pictures
Public
RightFont
Sites
Software
Virtual*
Code/
Databases/
Dropbox/

# Emacs specifics

.emacs.d/*
# .emacs.d/auto-save-list/
# .emacs.d/elpa/
# .emacs.d/projectile-bookmarks.eld
# .emacs.d/init.el~

# Zsh related

.zlogin
.zsh_history
.zshenv
.zshrc

# Ruby related

.gem/
.bundle/
.rvm/
.rbenv/

# Things I might revisit

.bash_sessions
.cache
.composer
.config
.cups
.docker
.haiku
.local
.npm
.nvm
.phpls
.polar
.pylint.d
.sip_v1
.ssh
.subversion
.SwitchHosts
.Trash
.vscode
.wine
.zoomus
.bash_history
.CFUserTextEncoding
.viminfo
.gitconfig
*.padl
.yarnrc
Icon
.dropbox/
.gnupg/
prompt.prof
.mkshrc
.node-gyp/
.profile